<p>sign-in works!</p>

get call response: {{intData}}
<br><br>

<form class="raw" [formGroup]="userModelForm" (ngSubmit)="Login()">

  <label for="username">Username: </label>
  <input class="textbox" id="username" type="text" formControlName="UserName">

  <label for="password">Password: </label>
  <input class="textbox" id="password" type="text" formControlName="Password">

  <button class="btn-primary" id="btnLogin" type="submit">Login User</button>
  response token: {{userObj.token}}
</form>


