.form
{
    align-items: center;
    background-color:whitesmoke;
    padding: 20px;
    margin: 20px;
    box-shadow: 5px 5px 5px gray;
}

.textbox
{
    line-height: 1rem;
}

.token-class
{
    overflow-wrap: break-word;
}