<input type="text" [(ngModel)]="data">

<div class='row' [ngSwitch]="data">  
    <div *ngSwitchCase="'one'">One is written</div>  
    <div *ngSwitchCase="'two'">Two is written</div>  
    <div *ngSwitchDefault>Default text</div>  
</div> 


<app-child-component [pData] = "parentData" (UpdateDataEvent)="UpdateData($event)"></app-child-component>

<br><br>

routing concept
<br>
<ul>
    <li><a routerLink="Home">Home</a></li>
    <li><a routerLink="AboutUs">About-Us</a></li>
</ul>

<router-outlet></router-outlet>
